@model IEnumerable<NewSocialNetwork.Models.Message>

@{
    ViewData["Title"] = "Outgoing messages";
}

<div class="left-menu-wrapper">
    <ul class="left-menu list-group">
        <li class="list-group-item">
            <a asp-action="IncomingMessages" >Incoming</a>
        </li>
        <li class="list-group-item">
            <a asp-action="OutgoingMessages">Outgoing</a>
        </li>
        <li class="list-group-item">
            <a asp-action="Create">Write a message</a>
        </li>
    </ul>
    <div class="left-menu-content">
        <h3>Outgoing Messages</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Receiver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                    </tr>
            }
             </tbody>
        </table>
     </div>
</div>
