@model IEnumerable<SocialNetworkApp.Models.Message>

@{
    ViewData["Title"] = "Incoming messages";
}

<div class="left-menu-wrapper">
    <ul class="left-menu list-group">
        <li class="list-group-item">
            <a asp-action="IncomingMessages" >Incoming</a>
        </li>
        <li class="list-group-item">
            <a asp-action="OutgoingMessages">Outgoing</a>
        </li>
        <li class="list-group-item">
            <a asp-action="Create">Write a message</a>
        </li>
    </ul>
    <div class="left-menu-content">
        <h3>Incoming Messages</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                    <a asp-action="Create" asp-route-id="@item.SenderId">Reply </a>
                    </td>
                    <td>

                    @if (!item.Reported)
                    {
                    <a asp-action="Report" asp-route-id="@item.ID">Report</a>
                    }
                    else
                    {
                    <span>Reported</span>
                    }

                    </td>
                    
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
